@charset "utf-8";
/* CSS Document */
body,p,ul,ol,li,dl,dt,dd,h1,h2,h3,h4,h5,h6,hr,blockquote,object,iframe,fieldset,input,legend,form,th,td{margin:0;padding:0; font-family:"PingFang SC","Arial","sans-serif";}
body,input,textarea,keygen,select,button,isindex{color:#000;word-break:break-all}
ul,ol,li{list-style:none}
img{border:none}
/*common*/
select{
	 appearance:none;
  -moz-appearance:none;
  -webkit-appearance:none;

}
button,select{cursor:pointer; outline:none;}
textarea{ resize:none;outline:none;}
.btn{ border:none; text-align:center; color:#fff;}
h1,h2,h3,h4,h5,h6{font-weight:normal}
h1{font-size:24px}
h2{font-size:20px}
h3{font-size:18px}
h4{font-size:16px}
h5{font-size:14px}
h6{font-size:14px}
i,b,em{font-style:normal;font-weight:normal}
table{border-collapse:collapse;border-spacing:0}
th{font-weight:normal}
input{ outline:none; font-size:14px; line-height:14px;}
.fl{float:left}
.fr{float:right}
.clearBoth{clear:both}
.clearfix:before,.clearfix:after{content:"";display:block;overflow:hidden;visibility:hidden;font-size:0;line-height:0;width:0;height:0}
.clearfix:after{clear:both}
.clearfix{zoom:1}
a{text-decoration:none;}


/*定义滚动条高宽及背景 高宽分别对应横竖滚动条的尺寸*/  
::-webkit-scrollbar  
{  
    width: 6px;  
    height: 16px;  
    background-color: #0a0909;  
}  
  
/*定义滚动条轨道 内阴影+圆角*/  
::-webkit-scrollbar-track  
{  
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);  
    border-radius: 4px;  
    background-color: #F5F5F5;  
}  
  
/*定义滑块 内阴影+圆角*/  
::-webkit-scrollbar-thumb  
{  
    border-radius: 4px;  
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);  
    background-color: #00e0e0;  
}  
/*遮罩层*/
.showPop{
	display: none;
	position: absolute;
	left: 0px;
	top:0px;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.6);
	z-index: 1000;
}


